{include file="public:header" /}
<form class="layui-form layui-form-pane container-fluid">
	<div class="layui-tab layui-tab-card">
		<ul class="layui-tab-title">
			<li class="layui-this">基本信息</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<div class="layui-form-item">
					<label class="layui-form-label">标题：</label>
					<div class="layui-input-block">
						<input type="text" name="title" required lay-verify="required" value="{:isset($rows['title']) ? $rows['title'] : ''}" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label" style="height:136px;line-height:100px;">封面图：</label>
					<div class="layui-input-block">
						<div class="imgbox">
							<ul id="cover">
								{notempty name="rows['cover']"}
								<li>
									<input type="hidden" name="cover" value="{$rows['cover']}" />
									<img src="{:getFile($rows['cover'])}" alt="{$rows['title']}" />
									<div class="imgsBtn">
										<a href="javascript:;" class="delfile" alt="{$rows['cover']}" title="删除"><i class="layui-icon">&#xe640;</i></a>
									</div>
								</li>
								{/notempty}
							</ul>
							<ul>
								<li style="padding:0;border:none;">
									<div class="layui-upload-drag" onclick="showAlbum('cover')">
										<i class="layui-icon">&#xe67c;</i>
										<p>选择封面图</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">内容：</label>
				    <div class="layui-input-block">
				      <textarea name="content" placeholder="内容" class="layui-textarea">{$rows.content}</textarea>
				    </div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">状态：</label>
					<div class="layui-input-inline">
						<input type="checkbox" name="status" title="显示" {notempty name="rows['status']"} checked {/notempty}>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="layui-form-item" style="padding-left: 10px;">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="dataPost">立即提交</button>
			<a class="layui-btn layui-btn-primary" onclick="closeWin()">关闭并返回列表</a>
		</div>
	</div>
	<input type="hidden" id="rowsID" name="id" value="{:isset($rows['id']) ? $rows['id'] : ''}">
</form>
{include file="public:script" /}
{include file="public:footer" /}