{include file="public:header" /}
<div class="main-layout" id="main-layout">
	<!--侧边栏-->
	<div class="main-layout-side">{include file="public:navbar" /}</div>
	<!--右侧内容-->
	<div class="main-layout-container">
		<!--头部-->
		<div class="main-layout-header">{include file="public:top" /}</div>
		<!--主体内容-->
		<div class="main-layout-body">
			<div class="wrap-container clearfix">
				<div class="column-content-detail">
					<div class="layui-form-item">
						 <div class="layui-inline tool-btn">
							 <button class="layui-btn layui-btn-small layui-btn-normal addBtn" onclick="showDiyWin('添加新信息', '{:url(\'publish\')}');return false;"><i class="layui-icon">&#xe654;</i></button>
							 <button class="layui-btn layui-btn-small layui-btn-danger delBtn" id="batch_del"><i class="layui-icon">&#xe640;</i></button>
						 </div>

						<div class="layui-inline">
							<input type="text" id="keys" value="{$keys}" placeholder="请输入标题" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-inline"><button class="layui-btn layui-btn-normal" id="search">搜索</button></div>
						<div class="layui-inline"><button class="layui-btn layui-btn-normal" onclick="$('#keys').val('');return false;">清除</button></div>
					</div>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-data="{id:'ajaxData', url:'{:url(\'ajaxData\')}', page:true, limit:20, height:'full-170'}" lay-filter="ajaxData">
							<thead>
								<tr>
									<th lay-data="{type:'checkbox'}"></th>
									<th lay-data="{field:'statusbar', sort:true, width:240}">状态</th>
									<th lay-data="{field:'title'}">标题</th>
									<th lay-data="{field:'intro'}">活动介绍</th>
									<th lay-data="{field:'stime', sort:true}">开始时间</th>
									<th lay-data="{field:'etime', sort:true}">结束时间</th>
									<th lay-data="{field:'price', sort:true}">金额</th>
									<th lay-data="{field:'create_time', sort:true}">创建时间</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--遮罩-->
	<div class="main-mask"></div>
</div>
{include file="public:script" /}
{include file="public:footer" /}