{include file="public:header" /}
<style>
	.layui-form-item .layui-form-label {
		width: 187px;
	}
	.layui-form-item .layui-input-block {
		margin-left: 187px;
	}
</style>
<form class="layui-form layui-form-pane container-fluid">
	<div class="layui-tab layui-tab-card">
		<ul class="layui-tab-title">
			<li class="layui-this">基本信息</li>
		</ul>
		<div class="layui-tab-content" >
			<div class="layui-tab-item layui-show">

				<div class="layui-form-item">
					<label class="layui-form-label">名称：</label>
					<div class="layui-input-block">
						<input type="text" name="name" required lay-verify="required" value="{:isset($rows['name']) ? $rows['name'] : ''}" placeholder="请输入名称" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">年化率(%)</label>
					<div class="layui-col-sm2">
						<div class="layui-input-inline">
							<input type="text" name="apr_0" autocomplete="off" class="layui-input" value="{:isset($rows['apr_0']) ? $rows['apr_0'] : ''}">
						</div>
						<div class="layui-form-mid layui-word-aux">1天</div>
					</div>
					<div class="layui-col-sm2">
						<div class="layui-input-inline">
							<input type="text" name="apr_3" autocomplete="off" class="layui-input" value="{:isset($rows['apr_3']) ? $rows['apr_3'] : ''}">
						</div>
						<div class="layui-form-mid layui-word-aux">30天</div>
					</div>
					<div class="layui-col-sm2">
						<div class="layui-input-inline">
							<input type="text" name="apr_6" autocomplete="off" class="layui-input" value="{:isset($rows['apr_6']) ? $rows['apr_6'] : ''}">
							<div class="layui-form-mid layui-word-aux">60天</div>
						</div>

					</div>
					<div class="layui-col-sm2">
						<div class="layui-input-inline">
							<input type="text" name="apr_9" autocomplete="off" class="layui-input" value="{:isset($rows['apr_9']) ? $rows['apr_9'] : ''}">
							<div class="layui-form-mid layui-word-aux">90天</div>
						</div>

					</div>
					<div class="layui-col-sm2">
						<div class="layui-input-inline">
							<input type="text" name="apr_12" autocomplete="off" class="layui-input" value="{:isset($rows['apr_12']) ? $rows['apr_12'] : ''}">
							<div class="layui-form-mid layui-word-aux">120天</div>
						</div>

					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">产品周期（天）：</label>
					<div class="layui-input-block">
						<select name="zhouqi" lay-verify="required">
							<option value=""> 请选择</option>
							<option {if condition="1 eq $rows['zhouqi']"} selected {/if} value="1"> 1天</option>
							<option {if condition="30 eq $rows['zhouqi']"} selected {/if} value="30"> 30天</option>
							<option {if condition="60 eq $rows['zhouqi']"} selected {/if} value="60"> 60天</option>
							<option {if condition="90 eq $rows['zhouqi']"} selected {/if} value="90"> 90天</option>
							<option {if condition="120 eq $rows['zhouqi']"} selected {/if} value="120"> 120天</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">简介：</label>
					<div class="layui-input-block">
						<input type="text" name="intro" required lay-verify="required" value="{:isset($rows['intro']) ? $rows['intro'] : ''}" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">认购开始时间：</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required"  name="rengou_begin" id="rengou_begin" value="{:isset($rows['rengou_begin']) ? $rows['rengou_begin'] : ''}" readonly="readonly" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">认购结束时间：</label>
					<div class="layui-input-inline">
						<input type="text" lay-verify="required"  name="rengou_end" id="rengou_end" value="{:isset($rows['rengou_end']) ? $rows['rengou_end'] : ''}" readonly="readonly" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">状态：</label>
					<div class="layui-input-inline">
						<input type="checkbox" name="status" title="上架" {notempty name="$rows['status']"}checked{/notempty}>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="height:136px;line-height:100px;">封面上传：</label>
					<div class="layui-input-block">
						<div class="imgbox">
							<ul id="cover">
								{notempty name="rows['cover']"}
								<li>
									<input type="hidden" name="cover" value="{$rows['cover']}" />
									<img src="{:getFile($rows['cover'])}" alt="{$rows['name']}" />
									<div class="imgsBtn">
										<a href="javascript:;" class="delfile" alt="{$rows['cover']}" title="删除"><i class="layui-icon">&#xe640;</i></a>
									</div>
								</li>
								{/notempty}
							</ul>
							<ul>
								<li style="padding:0;border:none;">							
									<div class="layui-upload-drag" onclick="showAlbum('cover')">
										<i class="layui-icon">&#xe67c;</i>
										<p>选择封面</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">项目方：</label>
					<div class="layui-input-block">
						<input type="text" name="xiangmufang" required lay-verify="required" value="{:isset($rows['xiangmufang']) ? $rows['xiangmufang'] : ''}" placeholder="请输入名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">租赁额度（USDT/起）：</label>
					<div class="layui-input-block">
						<input type="text" name="rengouedu" required lay-verify="required" value="{:isset($rows['rengouedu']) ? $rows['rengouedu'] : ''}" placeholder="请输入名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">开挖货币：</label>
					<div class="layui-input-block">
						<input type="text" name="fanxihuobi" required lay-verify="required" value="{:isset($rows['fanxihuobi']) ? $rows['fanxihuobi'] : ''}" placeholder="请输入名称" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="layui-form-item" style="padding-left: 10px;">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="dataPost">立即提交</button>
			<a class="layui-btn layui-btn-primary" onclick="closeWin()">关闭并返回列表</a>
		</div>
	</div>
	<input type="hidden" id="rowsID" name="id" value="{:isset($rows['id']) ? $rows['id'] : ''}">
</form>

{include file="public:script" /}
{include file="public:footer" /}